label {
  font-family: 'Fira Code', monospace; 
text-align: center;
}

h1 {
    text-align: center;
 
    font-family: 'Fira Code', monospace;
    color: #f25a70;
   text-shadow: 4px 4px 0px #000;
}